@import url('https://fonts.googleapis.com/css?family=Roboto:500,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url('https://fonts.googleapis.com/css?family=Kalam:300,400');


.home-view-container {
  width: 100%;
  height: 100vh;
  background-color: rgb(61, 61, 61);
  font-family: Roboto;
  .search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px;
    input {
      height: 30px;
      width: 300px;
      font-size: 15px;
      border: 0;
      border-radius: 2px 0 0 2px;
    }
    button {
      height: 30px;
      width: 50px;
      background-color: #fff;
      border: 0;
      border-left: 1px solid gray;
      border-radius: 0 2px 2px 0;
    }
  }
  .movie-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row nowrap;
    img {
      height: 300px;
    }
    .info-wrapper {
      width: 60%;
      background-color: #fff;
      border-radius: 2px;
      line-height: 2;
      padding: 15px;
      div {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin-bottom: 15px;
        h1 {
          font-size: 25px;
          margin-right: 15px;
        }
        h4 {
          margin-right: 15px;
        }
      }

    }
  }

}
